<% include header.html %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Shit!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
					<br></br>
                    You must have fucked up, because this page does not exist!  Sorry... :-(
					<br></br>
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a href="mailto:vnlla.org@gmail.com?subject=404page" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.html %>