body {    
}
.nowrap {
    white-space: nowrap;
}
.module-5 {
    background-color: #980000;
}
.module-4 {
    background-color: #ff0000;
}
.module-3 {
    background-color: #ff9900;
}
.module-2 {
    background-color: #ffff00;
}
.module-1 {
    background-color: #00ff00;
}
.module-0 {
    background-color: #00a2ff;
}

.module-no {
    background-color: none;
}

.module-rank-1 {
    background-color: #d9ead3;
    white-space: nowrap;
}

.module-rank-2 {
    background-color: #fff2cc;
    white-space: nowrap;
}

.module-rank-3 {
    background-color: #fce5cd;
    white-space: nowrap;
}

.module-rank-4 {
    background-color: #cfe2f3;
    white-space: nowrap;
}

.resistances {
    width: 96px;
}

.player_cell {
    max-width: 80px;
    overflow: hidden;
}

.resistances_cell {
    padding: 0px !important;
    width: 96px;
}

.turret_cell {
    padding: 0px !important;
    width: 32px;
}

.resistance {
    background: url(/img/resistance/resistance_icon_background.png) center center no-repeat transparent;
    width: 32px;
    height: 32px;
    position: relative;
    float: left;
}

.resistance div {
    width: 32px;
    height: 32px;
}

.resistance .all_resistance {
    background: url(/img/resistance/all_resistance.png) center center no-repeat transparent;
}

.resistance .firebird_resistance {
    background: url(/img/resistance/firebird_resistance.png) center center no-repeat transparent;
}

.resistance .freeze_resistance {
    background: url(/img/resistance/freeze_resistance.png) center center no-repeat transparent;
}

.resistance .shotgun_resistance {
    background: url(/img/resistance/hammer_resistance.png) center center no-repeat transparent;
}

.resistance .isis_resistance {
    background: url(/img/resistance/isis_resistance.png) center center no-repeat transparent;
}

.resistance .mine_resistance {
    background: url(/img/resistance/mine_resistance.png) center center no-repeat transparent;
}

.resistance .railgun_resistance {
    background: url(/img/resistance/railgun_resistance.png) center center no-repeat transparent;
}

.resistance .ricochet_resistance {
    background: url(/img/resistance/ricochet_resistance.png) center center no-repeat transparent;
}

.resistance .shaft_resistance {
    background: url(/img/resistance/shaft_resistance.png) center center no-repeat transparent;
}

.resistance .smoky_resistance {
    background: url(/img/resistance/smoky_resistance.png) center center no-repeat transparent;
}

.resistance .thunder_resistance {
    background: url(/img/resistance/thunder_resistance.png) center center no-repeat transparent;
}

.resistance .twins_resistance {
    background: url(/img/resistance/twins_resistance.png) center center no-repeat transparent;
}

.resistance .machine_gun_resistance {
    background: url(/img/resistance/vulcan_resistance.png) center center no-repeat transparent;
}

.resistance .rocket_launcher_resistance {
    background: url(/img/resistance/rocket_launcher_resistance.png) center center no-repeat transparent;
}

.resistance .artillery_resistance {
    background: url(/img/resistance/artillery_resistance.png) center center no-repeat transparent;
}